@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
.root{
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-base: #dac396;
}
.background {
    -fx-background-image: url("images/mapBackground.png");
    -fx-background-repeat: no-repeat;           /* Nie powtarzaj obrazu */
    -fx-background-position: center;           /* Wycentruj obraz */
    -fx-background-size: cover;
    -fx-alignment: center;
}

.mainContainer {
    -fx-spacing: 20;
}

.statsContainer {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.mapStatsContainer {
    -fx-padding: 10px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #3E7B27;
    -fx-background-color: rgba(239, 227, 194, 0.8);
}

.animalStatsContainer {
    -fx-padding: 10px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #3E7B27;
    -fx-background-color: rgba(239, 227, 194, 0.8);
}

.day {
    -fx-font-family: "Rubik Vinyl", serif;
    -fx-font-weight: 400;
    -fx-font-size: 30px;
    -fx-font-style: normal;
    -fx-text-fill:#123524;
}

.mapContainer {
    -fx-alignment: center;
    -fx-spacing: 20;
}
.startButton {
    -fx-background-color: #3E7B27;
    -fx-text-fill: #EFE3C2;
    -fx-padding: 20px 50px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.startButton:pressed{
    -fx-background-color: #85A947;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.startButton:hover {
    -fx-border-color: #85A947;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.statsHeader {
    -fx-font-weight: bold;
}

.map{
    -fx-border-color: #3E7B27;
    -fx-border-width: 2px;
}

.checkButton {
    -fx-background-color: #85A947;
    -fx-text-fill: #EFE3C2;
    -fx-padding: 10px 50px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
